@charset "UTF-8";
#공지사항 

/* 공지사항 컨테이너 */
.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* 제목 스타일 */
.page-title {
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: 0;
}

/* 검색바 스타일 */
.search-bar {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.search-input {
    padding: 8px;
    width: 200px;
    border: 1px solid #ddd;
    border-radius: 4px 0 0 4px;
    outline: none;
}

.search-button {
    padding: 8px 12px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

/* 공지사항 리스트 스타일 */
.notice-list {
    border-top: 2px solid #ddd;
}

.notice-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #eee;
}

.notice-item:hover {
    background-color: #f5f5f5;
}

.notice-category {
    color: #ff5a5a;
    font-weight: bold;
    margin-right: 10px;
}

.notice-title {
    font-size: 16px;
    color: black;
    text-decoration: none;
    flex-grow: 1;
}

.notice-title:hover {
    color: #0073e6;
}

.notice-date, .notice-views {
    font-size: 14px;
    color: #666;
    margin-left: 10px;
}