/* Initalize Styles */
/*============================================================================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 1540px;
    margin: 0 auto;
    padding: 20px;
}

.html, body {
    font-family: Arial, sans-serif;
        height: 100%;
}

.content {
    min-height: calc(100vh - 120px); /* Make the content area at least the height of the screen minus the header/footer */
}