/* Header Styles */
/*============================================================================*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}
.main-logo img {
    width: 250px;  
    height:  flex; 
}

/* /* 페이지 이름 스타일 */ */
/* .page-name a { */
/*     font-size: 24px; */
/*     color: #b07c83; */
/*     color: inherit; 부모 요소의 색상을 따라감 */
/*     text-decoration: none; 밑줄 제거 */
/* } */
.main-logo img {
    width: 250px;  
    height:  flex; 
}

/* /* 페이지 이름 스타일 */ */
/* .page-name a { */
/*     font-size: 24px; */
/*     color: #b07c83; */
/*     color: inherit; 부모 요소의 색상을 따라감 */
/*     text-decoration: none; 밑줄 제거 */
/* } */

/* 로그인 및 인증 버튼 스타일 */
.auth-buttons {
    display: flex;
    gap: 10px;
}

.auth-buttons button {

  padding: 10px;
  background-color: #D8B2B2;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom : 10px;
  
}

.auth-buttons button:hover, .location-btn:hover {
  background-color: #c49292;

  padding: 10px;
  background-color: #D8B2B2;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom : 10px;
  
}

.auth-buttons a {
  padding: 12px;
  background-color: #D8B2B2;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration: none;
}

.auth-buttons button:hover, .auth-buttons a:hover, .location-btn:hover {
  background-color: #c49292;
}

/* 메뉴 버튼 스타일 */
.menu-btn {
	border: none;
	border-radius: 0;
	border: none;
	border-radius: 0;
    font-size: 20px;
    background: none;
    color: #b07c83;
    cursor: pointer;
}

/* 유저 팝업 드롭다운 컨테이너 스타일 */
/*============================================================================*/
.user-popup-container {
  position: relative;
  display: inline-block;
}

.user-popup {
  position: absolute;
  top: 40px;
  right: 0;
  background-color: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 10px;
  z-index: 1000;
  width: 200px;
  display: none;
}

.user-popup a {
  display: block;
  padding: 8px;
  color: #333;
  text-decoration: none;
}

.user-popup a:hover {
  background-color: #f1f1f1;
}

.welcome-message {
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
  color: #444;
}