* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f7f7f7;
  font-family: Arial, sans-serif;
}



.no-underline {
  text-decoration: none;
  color: #fff;
}


/* login.jsp */

.login-header {
  display: flex;
  justify-content: space-between; /* 제목과 버튼을 양쪽으로 배치 */
  align-items: center; /* 수직 중앙 정렬 */
  margin-bottom: 20px; /* 아래 여백 추가 */
}


.login-container {
  width: 450px;
  padding: 50px;
  background-color: #fff;
  border: 1px solid #ddd;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}



.login-logo {
  font-size: 36px;
  font-weight: bold;
  margin-top: 10px;
  color : #969591;
}

.login-form input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}

.login-form button {
  width: 100%;
  padding: 10px;
  background-color: #D8B2B2;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom : 15px;
}

.login-form button:hover {
  background-color: #c49292;
}

.sns-container{
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    gap: 35px; /* 아이콘 사이 간격 */
    margin-top: 10px;

}
.sns-login-btn {
	display: inline-block;
    margin-top:10px;
	width: 40px; /* 원하는 크기 */
    height: 40px;
}

.forgot-password {
  display: block;
  margin-top: 15px;
  font-size: 12px;
  color: #385185;
  text-decoration: none;
}

.forgot-password:hover {
  text-decoration: underline;
}

.gosignup-button {
  width: 100px; 
  padding: 10px;
  background-color: #D8B2B2;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 250px;
  margin-bottom: 20px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.gosignup-button:hover {
  background-color: #c58b8b; 
}

.signup-container {
 width: 800px;
  padding: 50px;
  background-color: #fff;
  border: 1px solid #ddd;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.signup-logo {
  font-size: 20px;
  color: #808080;
  margin-bottom: 30px;
}

.signup-form {
  display: flex; 
  justify-content: space-between; /* 제목과 버튼을 양쪽으로 배치 */
}

.signup-button {
  width: 325px;
  height: 100px; /* 정사각형을 위해 높이를 설정 */
  padding: 10px;
  background-color: #D8B2B2;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  margin-top: 20px;
  cursor: pointer;
}

/* 버튼에 마우스를 올렸을 때 색상 변화 */
.signup-button:hover {
  background-color: #c58b8b; /* 마우스 오버 시 색상 변경 */
}



 .signcomplete{
  width: 325px;
  padding: 10px;
  background-color: #D8B2B2;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  margin-top: 20px;
  cursor: pointer;
  
}

.signcomplete:hover {
  background-color: #c58b8b; 
} 



.verification-message {
  margin-top: 10px;       /* 위쪽 여백 */
  font-size: 14px;        /* 글꼴 크기 */
  font-weight: bold;      /* 굵은 글꼴 */
}



/* memberForm */

.memberform-logo {
  font-size: 24px;
  font-weight: bold;
  margin-top: 30px;
  margin-left: 180px;
  margin-bottom: 20px;
  color : #969591;
}




.memberform-header, ownerform-header, findpwd-header {
  display: flex;
  justify-content: space-between; /* 제목과 버튼을 양쪽으로 배치 */
  align-items: center; /* 수직 중앙 정렬 */
  margin-bottom: 20px; /* 아래 여백 추가 */
}


.memberform-container, .ownerform-container, .findpwd-form-container {
  width: 600px;
  padding: 50px;
  background-color: #fff;
  border: 1px solid #ddd;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
 }
  
.id-form {
  display: 165px; 
  justify-content: center; /* 중앙 정렬 */
  margin-bottom: 20px; /* 여백 추가 */
}

.id-form input[type="text"] {
  width: 165px; /* 아이디 입력 필드의 너비를 70%로 설정 */
  padding: 10px;
  margin-right: 10px; /* 버튼과의 간격 추가 */
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}

.id-form input[type="button"] {
  width: 150px; /* 중복 검사 버튼의 너비를 30%로 설정 */
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #D8B2B2; /* 버튼 배경색 */
  color: #fff;
  cursor: pointer; /* 포인터 모양으로 변경 */
}

.id-form input[type="button"]:hover {
  background-color: #c58b8b; /* 버튼 호버 시 색상 변경 */
}

.check-result{
	margin-top : 10px;
	font-size : 13px;
}


.passwd-form input {
  width: 325px;
  padding: 10px;
  margin: 	8px 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  
}




.login-form button:hover {
  background-color: #c49292;
}




.email-form {
  display: flex; /* 가로로 정렬 */
  justify-content: center; /* 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
  margin-top: 20px;
  margin-bottom: 20px;
}

.email-form input[type="text"] {
  width: 130px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  height: 40px;
}


.email-select {
  width: 100px; 
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  height: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left : 5px;
}




.email-form button {
  width: 60px; /* 버튼 너비 */
  padding: 10px;
  background-color: #D8B2B2;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  height: 40px;
  margin-left:5px;
}

.email-form [type="button"]:hover {
  background-color: #c58b8b; /* 버튼 호버 시 색상 변경 */
}

	
.verification-container {
  margin-bottom: 20px; /* 입력창과 '회원가입' 버튼 사이의 간격 */
}

.verification-container input[type="text"] {
  width: 130px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  height: 40px;
}



/* .verification-input-container-text {
   width: 200px;
   padding: 10px; 
   margin-bottom: 20px;
   border: 1px solid #ddd; 
   border-radius: 4px; 
   font-size: 14px;
}  */


.domain-symbol {
  margin: 0 5px; /* @ 기호와 입력 필드 및 선택 박스 간의 간격 추가 */
  font-size: 14px; /* @ 기호의 글꼴 크기 조정 */
  margin-top : 30px;
  margin-bottom : 30px;
}


#confirmButton {
  padding: 10px;
  background-color: #D8B2B2;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left : 10px;
}

#confirmButton:hover {
  background-color: #c58b8b; /* 호버 시 색상 변경 */
}



/* 사업자 가입 */


.owner-logo {
  font-size: 24px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 40px;
  color : #969591;
  text-align : center;
}



.owner-num {
  display: flex; /* 플렉스 박스를 사용하여 아이디와 버튼을 나란히 배치 */
  justify-content: center; /* 중앙 정렬 */
  margin-bottom: 10px; /* 여백 추가 */
}


.owner-symbol {
  font-size: 14px; /* @ 기호의 글꼴 크기 조정 */
  margin-top : 10px;
  margin-right : 10px;

}


.owner-num input[type="text"] {
  width: 70px; /* 아이디 입력 필드의 너비를 70%로 설정 */
  padding: 10px;
  margin-top: 5px; /* 버튼과의 간격 추가 */
  margin-right: 10px; /* 버튼과의 간격 추가 */
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}

.owner-num input[type="button"] {
  width: 130px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #D8B2B2; /* 버튼 배경색 */
  color: #fff;
  cursor: pointer; /* 포인터 모양으로 변경 */
  text-align : center;
}

.owner-num input[type="button"]:hover {
  background-color: #c58b8b; /* 버튼 호버 시 색상 변경 */
}


/* 비밀번호 찾기 -findPwd */

/* .id-form { */
/*   display: flex;  */
/*   justify-content: center; 중앙 정렬 */
/*   margin-bottom: 20px; 여백 추가 */
/* } */

.findpwd-form input[type="text"] {
  width: 165px; /* 아이디 입력 필드의 너비를 70%로 설정 */
  padding: 10px;
  margin-right: 10px; /* 버튼과의 간격 추가 */
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}


.findpwd-logo {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 30px;
  color : #969591;
  text-align : center;
}


.instruction-text {
    font-size: 15px; /* Adjust size as needed */
    color: #999999;; /* Light gray color */
    margin-bottom: 15px; /* Space below text */
}



