/* 팝업 오버레이 배경 */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.popup-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 1000px;
    max-width: 80%;
    height: 80vh;
    max-height: 80vh;
    overflow-y: auto;
    text-align: start;
    position: relative;
}

.popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #666;
}

.popup-content h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.popup-content section {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.popup-content label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #666;
}

.popup-content p {
    margin-bottom: 15px;
    color: #333;
}

.popup-content img {
    width: 100px;
    height: auto;
    margin-top: 10px;
    /* border-radius: 25%; */
    border: 1px solid #ddd;
}

.map-container {
    width: 100%;
    height: 200px;
    background-color: #eee;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #666;
}

.btn {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-submit {
    background-color: #818fff;
    color: #fff;
}

.btn-submit:hover {
    background-color: #218dff;
    color: #fff;
}

.btn-reject {
    background-color: #ff988a;
    color: #fff;
}

.btn-reject:hover {
    background-color: #ff6666;
    color: #fff;
}