/**********************************
 *      관리자 글 작성 폼 css
 **********************************/
 .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-group label {
    display: inline-block;
    margin-bottom: 4px;
    font-weight: bold;
    align-self: start;
    padding: 5px;
}

.form-group select {
    padding: 5px;
}

.form-group input {
    width: 100%;
    padding: 5px;
}

.form-group textarea {
    width: 100%;
    height: 200px;
    resize: none;
    padding: 5px;
}

/* 파일 업로드 폼 */
.upload-form {
    margin-bottom: 20px;
}

.upload-form h2 {
    margin-bottom: 20px;
    font-size: 1.2em;
    color: #333;
}

.upload-form input[type="file"] {
    display: none;
}

.custom-file-upload {
    display: inline-block;
    padding: 10px;
    color: #fff;
    background-color: #429dff;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 5px;
}

.custom-file-upload:hover {
    background-color: #1d8eff;
}

.upload-form button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #28a745;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.upload-form button:hover {
    background-color: #218838;
}

/* 입력 폼 */
.main-content {
    width: 800px;
    margin: 0 auto;
    margin-top: 50px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.main-content.header {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

.main-content.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

.main-content.content {
    line-height: 1.6;
    border-bottom: 1px solid #ddd;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.main-content.ul {
    list-style-type: disc;
    margin: 10px 0 20px 20px;
}

/* 버튼 컨테이너 */
.button-container {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.active-btn {
    background-color: #9caaff;
    color: #fff;
    padding: 10px 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.inactive-btn {
    background-color: #f77;
    color: #fff;
    padding: 10px 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.active-btn:hover {
    background-color: #6c7bff;
    color: #fff;
}

.inactive-btn:hover {
    background-color: #f55;
    color: #fff;
}