/* 컨테이너 스타일 */
#store-content .container {
	width: 800px;
	margin: 0 auto;
	margin-top: 50px;
	padding: 20px;
}

/* 섹션 스타일 */
#store-content .section {
	background-color: #ffffff;
	padding: 20px;
	margin-bottom: 15px;
	border-radius: 5px;
	box-sizing: border-box;
	border: 1px solid #dddddd;
}

/* 섹션 제목 스타일 */
#store-content .section-title {
	padding-bottom: 10px;
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 10px;
	color: #333333;
}

/* 슬라이더 스타일 */
#store-content .slider {
	position: relative;
	width: 100%;
	display: flex;
	border-radius: 5px;
	transition: transform 0.5s ease;
}

#store-content .slider-container {
	display: flex;
	overflow: hidden;
}

#store-content .slide {
	min-width: 100%;
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	margin-bottom: 10px;
}

#store-content .slider img {
	width: 100%;
	height: 100%;
	border-radius: 5px;
	object-fit: cover;
}

#store-content .slider-nav {
	position: relative;
	padding: 10px;
	left: 50%;
	justify-content: center;
	display: flex;
	gap: 10px;
	transform: translateX(-50%);
}

#store-content .slider-nav button {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: #ccc;
	border: none;
	cursor: pointer;
	transition: background-color 0.3s;
}

#store-content .slide-buttons button:hover,
#store-content .slide-buttons button.active {
	background-color: #333;
}

/* 메뉴 사진 슬라이더 */
#store-content .menu-photo-container {
	position: relative;
	width: 100%;
	height: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 5px;
	overflow: hidden;
}

#store-content .menu-slider {
	display: flex;
	justify-content: center;
	transition: transform 0.5s ease;
	width: 100%;
	height: auto;
}

#store-content .menu-slide {
	min-width: 100%;
	flex-shrink: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

#store-content .menu-slide img {
	width: 100%;
	height: 300px;
	object-fit: contain;
	border-radius: 5px;
}

#store-content .menu-slider-nav {
	position: absolute;
	top: 50%;
	width: calc(100% - 40px);
	display: flex;
	justify-content: space-between;
	transform: translateY(-50%);
	z-index: 1;
	box-sizing: border-box;
}

#store-content .menu-slider-nav button {
	background-color: rgba(0, 0, 0, 0.5);
	color: #ffffff;
	border: none;
	font-size: 18px;
	padding: 10px;
	cursor: pointer;
}

#store-content .menu-slider-nav button:hover {
	background-color: rgba(0, 0, 0, 0.7);
}

/* 가게 정보 */
#store-content .store-info {
	margin-top: 30px;
	padding: 10px 20px;
	background-color: #f9f9f9;
	border-radius: 5px;
	line-height: 3;
	border: 1px solid #CCC;
}

#store-content .store-info-row {
	display: flex;
	border-bottom: 1px solid #DDD;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

#store-content .store-info-row p {
	flex: 1;
}

/* 메뉴 카드 스타일 */
#store-content .menu-card {
	display: flex;
	align-items: center;
	background-color: #ffffff;
	padding: 15px;
	margin-bottom: 15px;
	border-radius: 10px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	border: 1px solid #dddddd;
}

#store-content .menu-card img {
	width: 80px;
	height: 80px;
	object-fit: cover;
	border-radius: 8px;
	margin-right: 15px;
}

#store-content .menu-card .menu-info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	text-align: left;
	flex: 1;
}

#store-content .menu-card .menu-info .menu-name {
	font-size: 16px;
	font-weight: bold;
	color: #333333;
	margin: 0;
}

#store-content .menu-card .menu-info .menu-description {
	font-size: 14px;
	color: #666666;
	margin: 5px 0;
}

#store-content .menu-card .menu-info .menu-price {
	font-size: 14px;
	font-weight: bold;
	color: #000000;
}

#store-content .default-image {
	width: 80px;
	height: 80px;
	background-color: #e0e0e0;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	color: #bbbbbb;
	font-size: 24px;
	margin-right: 15px;
}

/* 지도 컨테이너 */
#store-content .map-container {
	width: 100%;
	height: 400px;
	margin-top: 10px;
	border: 1px solid #dddddd;
	border-radius: 5px;
}
