/* Reset and basic styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
}
a {
    color: #00f;
    text-decoration: none;
}
a:hover {
    color: #007bb5;
}

/* Header styling */
.header {
    width: 100%;
    background-color: #00a0e9;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    font-size: 1.5em;
}
.header img {
    max-height: 40px;
    vertical-align: middle;
    margin-right: 10px;
}

/* Navigation links */
.nav-links {
    display: flex;
    gap: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 0.7em;
    padding: 10px;
}
.nav-links a:hover {
    background-color: #007bb5;
    border-radius: 4px;
}

/* Main content */
.main-content {
    width: 80%;
    margin-top: 20px;
    text-align: center;
}
.main-content h2 {
    margin-bottom: 20px;
    font-size: 1.5em;
}

/* Search box */
.search-box {
    margin-bottom: 20px;
}
.search-box select[name="search-keywords"] {
    padding: 9px 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.search-box input[type="text"] {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.search-box button {
    padding: 10px 20px;
    border: none;
    background-color: #00a0e9;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
}
.search-box button:hover {
    background-color: #007bb5;
}

/* Table styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
table, th, td {
    border: 1px solid #ddd;
}
th, td {
    padding: 10px;
    text-align: center;
}
th {
    background-color: #f9f9f9;
    font-weight: bold;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
table button {
    padding: 4px;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 0.5rem;
    font-size: 0.9em;
}
.star-rating {
    color: #ffcc00;
    font-size: 14px;
}
.btn:hover {
    opacity: 0.9;
}

/* Button style */
.btn {
    padding: 10px;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    font-size: 0.9em;
}
.edit-btn {
    background-color: #5bc0de;
}
.delete-btn {
    background-color: #d9534f;
}

/* 중앙 정렬된 폼 컨테이너 */
.form-container {
    width: 400px;
    margin: 0 auto;
}

/* 텍스트 왼쪽 정렬 */
.text-left {
    text-align: start;
}