.container {
    width: 800px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
}

.container h1 {
    text-align: center;
}

.container h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}

.container p {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

.container span {
    display: block;
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 18px;
    color: #333;
}

.underline {
    border-bottom: 1px solid #bbb;
    margin-top: 15px;
    margin-bottom: 15px;
}

.container .store-registration-form label {
    display: block;
    margin-top: 15px;
    font-size: 20px;
    color: #333;
}

.container .store-registration-form input[type="text"],
.container .store-registration-form input[type="tel"],
.container .store-registration-form input[type="file"],
.container .store-registration-form textarea,
.container .store-registration-form select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    color: #333;
}

.container .store-registration-form textarea {
    resize: none;
    height: 100px;
}

.container .char-limit {
    font-size: 12px;
    color: #999;
    text-align: right;
    margin-top: 5px;
}

.container .consent-section {
    margin-top: 20px;
    background-color: #f1f1f1;
    padding: 15px;
    border-radius: 5px;
    font-size: 13px;
    color: #555;
}

.container .consent-section label {
    font-weight: bold;
    color: #333;
}

.container .consent-text {
    margin-top: 10px;
    font-size: 12px;
    color: #666;
    line-height: 1.6;
}

.container .submit-btn {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background-color: #b07c83;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.container .submit-btn:hover {
    background-color: #0288d1;
}

.container .address-container {
    position: relative;
    width: 100%;
    max-width: 600px;
}

.container .address-container input[type="text"] {
    width: 100%;
    padding: 10px 80px 10px 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.container .address-search-btn {
    position: absolute;
    right: 10px;
    top: 28%;
    transform: translateY(-50%);
    background-color: #b07c83;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
}

.container .address-search-btn:hover {
    background-color: #a0697b;
}

.container .file-names {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.container img {
    width: 500px;
}

.container .category-select-container {
    margin-left: 690px;
}

.container .category-select-btn {
    background-color: #d8b2b2;
    color: white;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 160px;
    height: 40px;
}

.container .category-popup {
    position: relative;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.container .category-step {
    width: 100%;
    flex-direction: column;
}

.container .category-step h3 {
    margin-bottom: 10px;
    color: #333;
    text-align: center;
}

.container .category-step button {
    background-color: #b07c83;
    color: white;
    border: none;
    padding: 8px 25px;
    margin: 5px;
    cursor: pointer;
    border-radius: 4px;
    width: fit-content;
    margin-right: 15px;
}

.container .selected-industry-options {
    margin-top: 10px;
}

.container .selected-industry-options h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #333;
}

.container .selected-industry-options button {
    background-color: #b07c83;
    color: white;
    border: none;
    padding: 8px 25px;
    margin: 5px;
    cursor: pointer;
    border-radius: 4px;
    width: fit-content;
    margin-right: 15px;
    margin-bottom: 25px;
}

.container .search-btn {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    margin-top: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 350px;
}
