/* 기본 스타일 초기화 */
/*============================================================================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.html, body {
    font-family: Arial, sans-serif;
        height: 100%;
}

.content {
    min-height: calc(100vh - 120px); /* Make the content area at least the height of the screen minus the header/footer */
}

/* 헤더 스타일 */
/*============================================================================*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-top: 20px; /* 상단 여백 추가 */
    padding-bottom: 30px; /* 하단 여백 추가 */
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}
.main-logo img {
    width: 250px;  
    height:  flex; 
}

/* /* 페이지 이름 스타일 */ */
/* .page-name a { */
/*     font-size: 24px; */
/*     color: #b07c83; */
/*     color: inherit; 부모 요소의 색상을 따라감 */
/*     text-decoration: none; 밑줄 제거 */
/* } */

/* 로그인 및 인증 버튼 스타일 */
.auth-buttons {
    display: flex;
    gap: 10px;
}

.auth-buttons button {

  padding: 10px;
  background-color: #D8B2B2;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom : 10px;
  
}

.auth-buttons button:hover, .location-btn:hover {
  background-color: #c49292;
}

/* 메뉴 버튼 스타일 */
.menu-btn {
	border: none;
	border-radius: 0;
    font-size: 20px;
    background: none;
    color: #b07c83;
    cursor: pointer;
}

/* 위치 드롭다운 스타일 */
/*============================================================================*/
.location-dropdown {
    position: relative;
    display: inline-block;
}

.location-btn {
	font-weight: bold;
    width: 160px;
    height: 40px;
    padding: 8px;
    cursor: pointer;
	font-size: 16px;
	background-color: #D8B2B2;
	color: #fff;
	border: none;
	border-radius: 4px;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    margin-top:10px;
    margin-bottom:10px;
    
}

/* 드롭다운 메뉴 스타일 */
.location-menu {
    display: none;
    position: absolute;
    top: 90%;
    left: 0;
    font-size: 14px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    min-width: 150px;
    z-index: 1;
}

.location-menu a {
    color: #333;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #eee;
}

.location-menu a:hover {
    background-color: #f9f9f9;
}

.location-dropdown:hover .location-menu {
    display: block;
}

/* 메인 배너 영역 스타일 */
/*============================================================================*/
.main-banner {
    /* width: 100%; */
    /* max-width: 1500px; 고정 너비 설정 */
    /* height: 450px; */
    margin: 10px auto; /* 화면 가운데 정렬 */
    background-color: #fafafa;
    overflow: hidden;
    position: relative;
}

/* 슬라이더 컨테이너 스타일 */
.slider-container {
    display: flex;
    transition: transform 0.5s ease;
    /* width: 400%; 이미지 4개의 전체 너비 */
    position: relative;
    /* min-width: 500px; 슬라이더 전체의 최소 너비를 1000px로 설정 */
    
}

.slide {
    flex: 1 0 100%; /* 한 번에 한 슬라이드씩 표시 */
    /* min-width: 1000px; 슬라이더 전체의 최소 너비를 1000px로 설정 */
    
}

.slide-buttons {
    position: absolute;
    bottom: 20px; /* 이미지 하단으로부터 20px 위 */
    left: 50%;
    display: flex;
    gap: 10px; /* 버튼 간격 */
}

.slide-buttons button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ccc; /* 기본 색상 */
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.slide-buttons button:hover,
.slide-buttons button.active {
    background-color: #333; /* 호버 및 활성화 시 색상 */
}
.slide-title {
    position: absolute;
    top: 5px;
    bottom: 40px;
    font-size: 20px;
    font-weight: bold;
    z-index: 1;
    display: flex;
    justify-content: center;
}

.slide img {
    /* max-width: 100%; */
    /* max-height: 100%; */
    width: 1500px;
    height: 500px;
    object-fit: contain;
    display: flex;
    /* align-items: center; */
}

/* 필터 컨테이너 스타일 */
/*============================================================================*/

.category-select-container {
    margin-left : 690px;
}

.category-select-btn {
    background-color: #D8B2B2;
    color: white;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
	margin-top:30px;
	margin-bottom:30px;
	    width: 160px;
    height: 40px;
}

.category-popup {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 800px;
    background-color: #f5f5f5;
    padding: 20px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.category-step {
    width: 100%;
    flex-direction: column;
}

.category-step h3 {
    margin-bottom: 10px;
    color: #333;
    text-align: center;
}

.category-step button {
    background-color: #b07c83;
    color: white;
    border: none;
    padding: 8px 25px;
    margin: 5px;
    cursor: pointer;
    border-radius: 4px;
    width: fit-content;
    margin-right:15px;
}

.selected-industry-options {
    margin-top: 10px;
}

.selected-industry-options h3 {
	margin-top: 20px;
    margin-bottom: 10px;
    color: #333;
}

.selected-industry-options button {
    background-color: #b07c83;
    color: white;
    border: none;
    padding: 8px 25px;
    margin: 5px;
    cursor: pointer;
    border-radius: 4px;
    width: fit-content;
    margin-right: 15px;
    margin-bottom: 25px;
}

.search-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin-top: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 40px; 
    margin-left: 350px;
}

/* 가게 목록 컨테이너 스타일 */
/*============================================================================*/
.store-container {
    max-height: 2400px;
    max-width: 1500px; /* 고정 너비 설정 */
    overflow-y: auto;
    border: 1px solid #ddd;
}

.store-list-container {
    width: 100%;
    max-width: 1200px; /* 고정 너비 설정 */
    margin: 20px auto; /* 화면 가운데 정렬 */
    padding: 20px;
    overflow-y: auto;
}

.store-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

.store-item-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.store-item {
    width: 80%;
    height: 220px;
    /* background-color: #f0f0f0; */
    /* border: None; */
    margin-bottom: 10px;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    overflow:hidden; /*임의 추가*/
    cursor: pointer;
}

/* 임의 추가*/
.store-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.store-name {
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
}


/* 선택된 옵션 옆에 화살표 스타일 추가 */
.orderby-criteria {
    position: relative;
    text-align: right;
    margin-bottom: 20px;
}

/* 메인 페이지 정렬 */
.orderby-criteria select {
	width : 120px;
    appearance: none; /* 기본 브라우저 스타일 제거 */
    -webkit-appearance: none; /* 사파리 브라우저 스타일 제거 */
    -moz-appearance: none; /* 파이어폭스 브라우저 스타일 제거 */
    background-color: #f5f5f5; /* 배경색 */
    border: 1px solid #ddd; /* 테두리 */
    border-radius: 8px; /* 모서리 둥글기 */
    padding: 10px 16px; /* 내부 여백 */
    font-size: 16px; /* 글씨 크기 */
    color: #333; /* 글씨 색 */
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease; /* 부드러운 전환 효과 */
}

.orderby-criteria select:hover {
    background-color: #e0e0e0; /* 호버 시 배경색 */
}

.orderby-criteria select:focus {
    border-color: #b07c83; /* 포커스 시 테두리 색 */
    box-shadow: 0 0 5px rgba(176, 124, 131, 0.5); /* 포커스 시 그림자 효과 */
}

.orderby-criteria::after {
    content: "▼"; /* 화살표 모양 */
    font-size: 12px;
    color: #333;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; /* 화살표 클릭 방지 */
}