body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #d8b2b2;
    color: white;
}

.page-name a {
	font-size: 20px;
    color: #b07c83;
    color: inherit; /* 부모 요소의 색상을 따라감 */
    text-decoration: none; /* 밑줄 제거 */
}

.page-name a:visited,
.page-name a:hover,
.page-name a:active {
    color: inherit; /* 클릭 후에도 색상 변하지 않음 */
    text-decoration: none; /* 클릭 후에도 밑줄 생기지 않음 */
}

.logout-form button {
    background-color: #a06666;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.container {
    display: flex;
    padding: 20px;
}

.profile-sidebar {
    width: 25%;
    background-color: #f4f4f9;
    text-align: center;
    padding: 20px;
    border-right: 1px solid #ddd;
}

.profile-picture {
    width: 250px;
    height: 250px;
    background-color: #fff;
    border-radius: 50%;
	margin-top: 60px;
    margin-bottom: 50px;
}

.profile-username {
    font-size: 18px;
    margin-top: 10px;
}

.main-content {
    width: 75%;
    padding: 20px;
}

.tab-menu {
    display: flex;
    border-bottom: 2px solid #ddd;
    margin-bottom: 20px;
}

.tab-button {
    padding: 10px 20px;
    border: none;
    background-color: #f4f4f9;
    cursor: pointer;
    font-size: 16px;
    flex: 1;
    text-align: center;
}

.tab-button.active {
    border-bottom: 2px solid #d8b2b2;
    color: #d8b2b2;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.interaction-section {
    display: flex;
    flex-direction: column;
    gap: 20px;

}


/* 좋아요 섹션 스타일 */
.like-items-container {
    display: flex;
    overflow-x: auto; /* 가로 스크롤 가능 */
    padding: 10px 0;
    margin-bottom: 100px;
}

.like-store-item {
    flex: 0 0 auto; /* 아이템 크기 고정 */
    margin-right: 15px; /* 아이템 간격 */
    display: flex;
    flex-direction: column; /* 이미지와 텍스트를 세로로 정렬 */
    align-items: center; /* 중앙 정렬 */
}

.like-store-image {
    width: 200px; /* 이미지 너비 */
    height: 150px; /* 이미지 높이 */
    background-color: #ccc; /* 임시 배경색 */
    margin-bottom: 10px; /* 이미지와 텍스트 간격 */
}

.like-store-name {
    text-align: center;
}

/* 리뷰 섹션 스타일 */
.review-items-container {
    display: flex;
    overflow-x: auto;
    padding: 10px 0;
}

.review-store-item {
    flex: 0 0 auto;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review-store-image {
    width: 200px; /* 이미지 너비 */
    height: 150px; /* 이미지 높이 */
    background-color: #ccc; /* 임시 배경색 */
    margin-bottom: 10px; /* 이미지와 텍스트 간격 */
}

.review-store-name {
    text-align: center;
}

/* 추가 스타일 */
.interaction-section {
    margin: 20px;
}

.section-title {
	margin-top: 80px;
    margin-bottom: 10px;
}