<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.project.mapper.LoginMapper">

	<!-- 아이디 중복조회 -->
	<select id="isUserIdCheck" parameterType="string" resultType="int">
		select count(*) from member where member_id = #{memberId}
	</select>

	<select id="isUserNicknameCheck" parameterType="string" resultType="int">
		select count(*) from member where nickname = #{nickname}
	</select>

	 <!-- 사용자 회원 가입 -->
	 
    <insert id="joinMember" parameterType="Login">
	    INSERT INTO member (
	      category, 
	      registration_number, 
	      member_id, 
	      naver_id, 
	      google_id, 
	      kakao_id, 
	      passwd, 
	      nickname, 
	      introduction, 
	      email, 
	      status, 
	      created_at, 
	      inactive_date, 
	      reactive_date, 
	      deleted_date, 
	      profile_image, 
	      point
	    ) VALUES (
	      #{category}, 
		  #{registrationNumber, jdbcType=VARCHAR},
	      #{memberId}, 
		  #{naverId, jdbcType=VARCHAR}, 
		  #{googleId, jdbcType=VARCHAR}, 
		  #{kakaoId, jdbcType=VARCHAR}, 
	      #{passwd}, 
	      #{nickname}, 
	      #{introduction, jdbcType=VARCHAR}, 
	      #{email}, 
     	 'active',  
	      SYSDATE, 
	      #{inactiveDate, jdbcType=DATE}, 
	      #{reactiveDate, jdbcType=DATE}, 
	      #{deletedDate, jdbcType=DATE}, 
	      #{profileImage, jdbcType=VARCHAR}, 
      	  #{point, jdbcType=INTEGER}
	    )
	</insert>
	
	<select id="getUser" parameterType="string" resultType="Login">
		select * from member where member_id = #{memberId}
	</select>
	
	
</mapper>