<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.MemberMapper">
	<select id="selectMembers" resultType="member">
		SELECT * FROM (
		    SELECT m.*, ROWNUM AS rnum FROM (
		        SELECT * FROM member
                <where>
	                <if test="requestData.keyword != null and requestData.keyword != ''">
	                    ${requestData.column} LIKE '%' || #{requestData.keyword} || '%'
	                </if>
            	</where>
		        ORDER BY id DESC
		    ) m
		) 
		WHERE rnum BETWEEN #{start} AND #{end}
	</select>
	
	<select id="selectMember" resultType="member">
		SELECT * FROM member
		WHERE id=#{id}
	</select>
	
	<select id="selectMemberByMemberId" resultType="member">
		SELECT * FROM member
		WHERE member_id=#{memberId}
	</select>
	
	<select id="countMembers" resultType="long">
		SELECT COUNT(*) FROM member
        <where>
	        <if test="keyword != null and keyword != ''">
	            ${column} LIKE '%' || #{keyword} || '%'
	        </if>
    	</where>
	</select>
	
	<update id="blockMember">
		UPDATE member
		SET status='inactive',
			inactive_date=SYSDATE,
			reactive_date=SYSDATE + #{banTime}
		WHERE id=#{id}
	</update>
	
	<update id="unblockMember">
		UPDATE member
		SET status='active',
			inactive_date=null,
			reactive_date=null
		WHERE id=#{id}
	</update>
	
	<select id="selectMemberByEmail" parameterType="String" resultType="member">
		SELECT * FROM member
		WHERE email=#{email}
	</select>
	
	<insert id="insertMember" parameterType="member">
        insert into member (category, registration_number, member_id, naver_id, google_id, kakao_id,
        passwd, nickname, introduction, email, status, created_at, inactive_date, reactive_date, deleted_date, profile_image, role)
        values ('일반', #{registrationNumber, jdbcType=VARCHAR}, #{memberId, jdbcType=VARCHAR}, #{memberId, jdbcType=VARCHAR},
        #{googleId, jdbcType=VARCHAR}, #{kakaoId, jdbcType=VARCHAR}, #{passwd, jdbcType=VARCHAR}, #{nickname, jdbcType=VARCHAR},
        #{introduction, jdbcType=VARCHAR}, #{email, jdbcType=VARCHAR}, 'active', SYSDATE, #{inactiveDate, jdbcType=DATE},
        #{reactiveDate, jdbcType=DATE}, #{deletedDate, jdbcType=DATE}, #{profileImage, jdbcType=VARCHAR}, 'ROLE_MEMBER' )
     </insert>
     
 	<insert id="insertMemberForKakao" parameterType="member">
        insert into member (category, registration_number, member_id, naver_id, google_id, kakao_id,
        passwd, nickname, introduction, email, status, created_at, inactive_date, reactive_date, deleted_date, profile_image, role)
        values ('일반', #{registrationNumber, jdbcType=VARCHAR}, #{memberId, jdbcType=VARCHAR}, null,
        null, #{memberId, jdbcType=VARCHAR}, #{passwd, jdbcType=VARCHAR}, #{nickname, jdbcType=VARCHAR},
        #{introduction, jdbcType=VARCHAR}, #{email, jdbcType=VARCHAR}, 'active', SYSDATE, #{inactiveDate, jdbcType=DATE},
        #{reactiveDate, jdbcType=DATE}, #{deletedDate, jdbcType=DATE}, #{profileImage, jdbcType=VARCHAR}, 'ROLE_MEMBER' )
     </insert>
     
 	<insert id="insertMemberForNaver" parameterType="member">
        insert into member (category, registration_number, member_id, naver_id, google_id, kakao_id,
        passwd, nickname, introduction, email, status, created_at, inactive_date, reactive_date, deleted_date, profile_image, role)
        values ('일반', #{registrationNumber, jdbcType=VARCHAR}, #{memberId, jdbcType=VARCHAR}, #{memberId, jdbcType=VARCHAR},
        null, null, #{passwd, jdbcType=VARCHAR}, #{nickname, jdbcType=VARCHAR},
        #{introduction, jdbcType=VARCHAR}, #{email, jdbcType=VARCHAR}, 'active', SYSDATE, #{inactiveDate, jdbcType=DATE},
        #{reactiveDate, jdbcType=DATE}, #{deletedDate, jdbcType=DATE}, #{profileImage, jdbcType=VARCHAR}, 'ROLE_MEMBER' )
     </insert>
     
 	<insert id="insertMemberForGoogle" parameterType="member">
        insert into member (category, registration_number, member_id, naver_id, google_id, kakao_id,
        passwd, nickname, introduction, email, status, created_at, inactive_date, reactive_date, deleted_date, profile_image, role)
        values ('일반', #{registrationNumber, jdbcType=VARCHAR}, #{memberId, jdbcType=VARCHAR}, null,
        #{memberId, jdbcType=VARCHAR}, null, #{passwd, jdbcType=VARCHAR}, #{nickname, jdbcType=VARCHAR},
        #{introduction, jdbcType=VARCHAR}, #{email, jdbcType=VARCHAR}, 'active', SYSDATE, #{inactiveDate, jdbcType=DATE},
        #{reactiveDate, jdbcType=DATE}, #{deletedDate, jdbcType=DATE}, #{profileImage, jdbcType=VARCHAR}, 'ROLE_MEMBER' )
     </insert>
</mapper>