<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.MenuMapper">	
	<select id="selectStoreMenu" resultType="menu">
		SELECT * FROM menu
		WHERE store_id=#{storeId}
	</select>
	
	<!-- 메뉴사진 삽입  -->
	<insert id="insertMenu" parameterType="com.project.domain.Menu" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO menu (
            id,
            store_id,
            menu_image
        ) VALUES (
            menu_seq.NEXTVAL,
            #{storeId},
            #{menuImage}
        )
    </insert>
</mapper>