<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.mapper.MypageMapper">
	<select id="getMember" resultType="Member">
		select * from member
		where
		member_id=#{memberId}
	</select>
	
	<select id="getMypageLike" resultType="MypageLike">
		select ml.*,s.main_image1 
		from member_like ml join store s
		on ml.store_id = s.id
		where ml.member_id = #{memberId}
	</select>
</mapper>