<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.mapper.MypageMapper">
	<select id="getMember" resultType="Member">
		select * from member
		where
		id=#{id}
	</select>
	
	<select id="getMypageLike" resultType="MypageLike">
		select * from
		(
		select inner_query.*,ROWNUM as rn
			from(
				select ml.*,s.main_image1,s.store_name
				from member_like ml join store s
				on ml.store_id = s.id
				where ml.member_id = #{pageRequest.memberId}
				order by created_at desc
			) inner_query
		)
		where rn between #{startRow} and #{endRow}
	</select>
	
	<select id ="getCountMypageLike" resultType="int">
		select count(*) from
		member_like
		where member_id = #{id}
	</select>
	
	<select id="getMypageReview" resultType="MypageReview">
		select * from
		(
			select inner_query.*,ROWNUM as rn
			from(
				select r.*,s.main_image1,s.store_name
				from review r join store s
				on r.store_id = s.id
				where r.member_id = #{pageRequest.memberId}
				order by created_at desc
			) inner_query
		)
		where rn between #{startRow} and #{endRow}
	</select>
	
	<select id ="getCountMypageReview" resultType="int">
		select count(*) from
		review
		where member_id = #{id}
	</select>
	
	<select id="getStore" resultType="store">
		select * from
		store
		where member_id = #{memberId}
	</select>
	
	<update id="updateMember" parameterType="Member">
		update
		member
		set
		introduction = #{introduction}
		where nickname = #{nickname}
	</update>
	
	<update id="updatePassword" parameterType="Member">
		update
		member
		set
		passwd = #{passwd}
		where id = #{id}
	</update>
	
	<update id="deleteMember">
		update
		member
		set
		status = 'inactive'
		where id = #{id}
	</update>
	
	<update id="fileUpload" parameterType="Member">
		update
		member
		set
		profile_image = #{profileImage}
		where id = #{id}
	</update>
</mapper>