<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.StoreMapper">

	<select id="selectStores" resultType="Store">
		SELECT * FROM (
		    SELECT m.*, ROWNUM AS rnum FROM (
		        SELECT * FROM store 
		        ORDER BY id DESC
		    ) m
		) 
		WHERE rnum BETWEEN #{start} AND #{end}
	</select>
	
    <select id="getStoreDetailById" parameterType="long" resultType="com.project.domain.StoreDomain">
    	SELECT * FROM store WHERE id = #{store_ID}
    </select>
    
	<select id="countStores" resultType="long">
		SELECT COUNT(*) FROM store
	</select>
	
	<select id="getMenuById" parameterType="long" resultType="com.project.domain.Menu">
		SELECT * FROM menu WHERE store_id = #{store_ID}
	</select>
	
	<!-- 찜 추가 -->
    <insert id="save" parameterType="com.project.domain.MemberLike">
        INSERT INTO member_like (member_id, store_id, created_at)
        VALUES (#{memberId}, #{storeId}, #{createdAt})
    </insert>
	
	<!-- 찜 취소 -->
    <delete id="deleteByMemberIdAndStoreId">
        DELETE FROM member_like
        WHERE member_id = #{memberId} AND store_id = #{storeId}
    </delete>
	
</mapper>