<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.StoreMapper">

	<select id="selectStores" resultType="Store">
		SELECT * FROM (
		    SELECT s.*, ROWNUM AS rnum FROM (
		        SELECT * FROM store
                <where>
	                <if test="requestData.keyword != null and requestData.keyword != ''">
	                    ${requestData.column} LIKE '%' || #{requestData.keyword} || '%'
	                </if>
            	</where>
		        ORDER BY id DESC
		    ) s
		) 
		WHERE rnum BETWEEN #{start} AND #{end}
	</select>
	
	<select id="selectEnrolledStores" resultType="Store">
		SELECT * FROM (
		    SELECT m.*, ROWNUM AS rnum FROM (
		        SELECT * FROM store 
                <where>
                	enroll_status = 'enrolled'
	                <if test="requestData.keyword != null and requestData.keyword != ''">
	                    AND ${requestData.column} LIKE '%' || #{requestData.keyword} || '%'
	                </if>
            	</where>
		        ORDER BY id DESC
		    ) m
		) 
		WHERE rnum BETWEEN #{start} AND #{end}
	</select>
	
    <select id="getStoreDetailById" parameterType="long" resultType="com.project.domain.StoreDomain">
    	SELECT * FROM store WHERE id = #{store_ID}
    </select>
    
	<select id="countStores" resultType="long">
		SELECT COUNT(*) FROM store
        <where>
	        <if test="keyword != null and keyword != ''">
	            ${column} LIKE '%' || #{keyword} || '%'
	        </if>
    	</where>
	</select>
	
	<select id="countEnrolledStores" resultType="long">
		SELECT COUNT(*) FROM store
        <where>
        	enroll_status = 'enrolled'
	        <if test="keyword != null and keyword != ''">
	            AND ${column} LIKE '%' || #{keyword} || '%'
	        </if>
    	</where>
	</select>

	<select id="getMenuById" parameterType="int" resultType="com.project.domain.Menu">
		SELECT * FROM menu WHERE store_id = #{store_ID}
	</select>
	
	<update id="inactivateStore" parameterType="long">
		UPDATE store SET post_status='inactive'
		WHERE id=#{id}
	</update>
	
	<update id="reactivateStore" parameterType="long">
		UPDATE store SET post_status='active'
		WHERE id=#{id}
	</update>
	
	<select id="getMenuById" parameterType="long" resultType="com.project.domain.Menu">
		SELECT * FROM menu WHERE store_id = #{storeID}
	</select>
	
	<!-- 홈페이지 가게 게시판 -->
	<select id="findAllStores" resultType="com.project.domain.StoreDomain">
		SELECT * FROM store
	</select>
	
	<!-- 홈페이지 가게 게시판 (카테고리 지역)-->
	<select id="findStoresByLocation" parameterType="String" resultType="Store">
	    SELECT store.*
	    FROM store
	    JOIN local ON store.id = local.store_id
	    WHERE local.local = #{location}
	</select>
	
	<!-- 찜 추가 -->
    <insert id="save" parameterType="com.project.domain.MemberLike">
        INSERT INTO member_like (member_id, store_id, created_at)
        VALUES (#{memberId}, #{storeId}, #{createdAt})
    </insert>
	
	<!-- 찜 취소 -->
    <delete id="deleteByMemberIdAndStoreId">
        DELETE FROM member_like
        WHERE member_id = #{memberId} AND store_id = #{storeId}
    </delete>
	
</mapper>